<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
namespace MockGen.Specs.Generated
{
    internal class Mock<T>
    {
<# foreach (var typeName in InterfaceNames)
{#>
        internal static <#=typeName#>MockBuilder <#=typeName#>()
        {
            return new <#=typeName#>MockBuilder();
        }
<#}
#>
    }
}