<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using System;

namespace MockGen.Setup
{
    internal class ActionConfigurationBase
    {
        internal Action ThrowAction { get; set; }
    }
}